.section {
    padding: 92px 0 139px 0;
    display: flex;
    width: var(--container);
    max-width: var(--container);
    flex-direction: column;
    justify-content: flex-start;
    color: var(--text-color);
    background-color: #ffffff;
}

.hr {
    border: solid 1px #dd9b5c;
}

.title {
    margin: 0;
    padding: 40px 0 32px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: left;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
}

.breadcrumbs_link {
    text-decoration: none;
    color: var(--text-color);
}

.description_container {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0;
    grid-row-gap: 64px;
    width: 100%;
    max-width: 1250px;
}

.slider {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    width: 738px;
    height: 632px;
    text-align: left;
    justify-self: start;
}

.slider::before {
    position: absolute;
    z-index: 0;
    right: -44px;
    bottom: -44px;
    display: block;
    width: 674px;
    height: 371px;
    content: "";
    border: 1px solid #dd9b5c;
}

.slider_arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 4%;
    display: block;
    width: 24px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider_arrow_right {
    right: 4%;
    left: initial;
    transform: scaleX(-1);
    composes: slider_arrow;
}

.slider_image {
    position: inherit;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
}

.amenities {
    padding: 26px 21px 80px 21px;
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    max-width: 382px;
    height: min-content;
    flex-direction: column;
    border: solid var(--text-color) 2px;
    justify-self: end;
}

.amenities_list {
    display: grid;
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 20px;
}

.amenities_list li:last-of-type {
    padding-bottom: 0;
}

.amenities_title {
    padding-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 800;
    text-align: center;
}

.stats_container {
    display: grid;
    max-width: 730px;
    grid-area: 2 / 1 / 3 / 3;
    grid-template-columns: 50% repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.stats_button {
    justify-self: flex-start;
}

.stats_number {
    display: inline-grid;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.stats_number_left {
    text-align: left;
    composes: stats_number;
}

.stats_sub {
    padding-top: 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    grid-row: 2;
}

.stats_desc {
    padding-top: 12px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    grid-row: 2;
}

.description_title {
    padding: 80px 0 36px 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 800;
    text-align: left;
}

.description_text {
    padding-bottom: 40px;
    width: 100%;
    max-width: 725px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}

.description_text p {
    margin-bottom: 20px;
}

.description_text ul {
    list-style-type: none;
}

.description_text ul li {
    margin-left: 10px;
}

.description_text ul li::before {
    position: relative;
    left: -10px;
    content: "-";
}