*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --input-color: #0d1b44;
    --input-color-disabled: #cacaca;
}

.wrapper {
    position: relative;
    padding-bottom: 18px;
}

.showPassword {
    position: absolute;
    top: 18px;
    right: 12px;
}

.field {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.input {
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 6px 12px;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--input-color);
    border: 2px solid var(--input-color);
    outline: none;
    appearance: none;
    transition: box-shadow 0.3s, color 0.3s, border-color 0.3s;
}

.input:focus {
    box-shadow: 0 0 0 0.2rem #a7b7bc80;
}

.text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.input::placeholder {
    color: #818181;
}

.error {
    position: absolute;
    bottom: 0;
    display: block;
    opacity: 1;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #c51818;
    transition: color 0.3s, opacity 0.3s, transform 0.3s;
}

.hide {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translate(0, 10px);
}

.warning {
    color: #c51818;
    border: 2px solid#c51818;
}

.warning:focus {
    box-shadow: 0 0 0 0.2rem #ffaaaa80;
}

.warning + .error {
    color: #c51818;
}

.input:disabled {
    color: var(--input-color-disabled);
    border-color: var(--input-color-disabled);
}

.input:disabled + .error {
    color: var(--input-color-disabled);
}