.ads {
    margin-top: 130px;
}

.ads__title {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: left;
    color: #0d1b44;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.btn_wrapper {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}