.ads {
    margin-top: 130px;
}

.ads__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: left;
    color: #0d1b44;
}

.ads__list {
    margin-top: 36px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.ads__testCard {
    width: 305px;
    height: 478px;
    background-color: #dfbda2;
}

.ads__moreButton {
    margin: 62px auto 0;
    width: 247px;
    height: 49px;
    color: #ffffff;
    background-color: #dfbda2;
    border: none;
}