.advantages {
    padding: 80px 80px 53px;
}

.advantages__title {
    margin: 0 auto 49px;
    font-family: "Montserrat";
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    color: #0d1b44;
}

.advantages__container {
    margin: 0 auto;
    display: flex;
    width: 1280px;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.advantages__image {
    margin-top: 29px;
    width: 80px;
    height: 80px;
}

.advantages__item {
    position: relative;
    display: flex;
    width: 413px;
    height: 229px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0d1b44;
}

.advantages__text {
    margin-top: 15px;
    width: 261px;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
}

.advantages__line1 {
    position: absolute;
    right: 0;
    bottom: -13px;
    width: 169px;
    border-bottom: 1px solid #dd9b5c;
}

.advantages__line2 {
    position: absolute;
    top: -13px;
    right: 0;
    width: 169px;
    border-bottom: 1px solid #dd9b5c;
}

.advantages__line3 {
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 169px;
    border-bottom: 1px solid #dd9b5c;
}