.promo {
    position: relative;
    width: var(--container);
}

.promo__frontBlock {
    position: absolute;
    top: 131px;
    left: 0;
    display: flex;
    width: 630px;
    height: 352px;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #234a5866;
    backdrop-filter: blur(25px);
}

.promo__mainImage {
    display: flex;
    justify-content: flex-end;
}

.promo__title {
    margin: 52px auto 36px;
    font-size: 44px;
    line-height: 54px;
}

.promo__subtitle {
    margin-bottom: 36px;
    width: 403px;
    font-size: 24px;
    line-height: 29px;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .promo__mainImage {
        height: 333px;
    }

    .promo__frontBlock {
        top: 30px;
        width: 416px;
        height: 273px;
    }

    .promo__title {
        margin: 28px auto 20px;
        font-size: 32px;
        line-height: 39px;
        font-weight: 600;
    }

    .promo__subtitle {
        width: 328px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
    }
}