.main {
    background-color: #f5f5f5;
}

.promo {
    position: relative;
    padding: 0 80px;
    height: 705px;
}

.promo__mainImage {
    position: absolute;
    top: 0;
    right: 80px;
    width: 1063px;
    height: 705px;
}

.promo__frontBlock {
    position: absolute;
    top: 131px;
    left: 80px;
    width: 630px;
    height: 352px;
    background-color: #234a5866;
    backdrop-filter: blur(25px);
}

.promo__title {
    margin: 52px auto 36px;
    font-family: "Montserrat";
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
    color: #ffffff;
}

.promo__subtitle {
    margin: 0 auto;
    width: 403px;
    font-family: "Montserrat";
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: #ffffff;
}

.hotAdvertisement {
    padding: 80px;
}

.hotAdvertisement__title {
    font-family: "Montserrat";
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: left;
    color: #0d1b44;
}

.hotAdvertisement__container {
    margin: 0 auto;
    width: 1280px;
}

.hotAdvertisement__list {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

.hotAdvertisement__testCard {
    width: 305px;
    height: 478px;
    background-color: #dfbda2;
}

.hotAdvertisement__moreButton {
    margin: 62px auto 0;
    width: 247px;
    height: 49px;
    color: rgba(255, 255, 255, 1);
    background-color: #dfbda2;
    border: none;
}