.main {
    background-color: #f5f5f5;
}

.promo {
    position: relative;
    padding: 0 80px;
    height: 705px;
}

.mainImage {
    position: absolute;
    top: 0;
    right: 80px;
    width: 1063px;
    height: 705px;
}

.frontBlock {
    position: absolute;
    top: 131px;
    left: 80px;
    width: 630px;
    height: 352px;
    background-color: rgba(35, 74, 88, 0.4);
    backdrop-filter: blur(25px);
}

.title {
    margin: 52px auto 36px;
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.subtitle {
    margin: 0 auto;
    width: 403px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.button {
    margin: 40px auto auto;
}

.aboutUs {
    padding: 120px 80px 46px;
    width: 100%;
}

.aboutTeam {
    padding: 80px 80px 0;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
}

.about {
    margin: 0;
    margin-top: 54px;
    padding: 0;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: left;
    color: #0d1b44;
}

.paragraph_about {
    margin: 36px 32px 40px 0;
    padding: 0;
    width: 510px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: left;
    color: #234a58;
}

.blockUnderImage {
    position: absolute;
    z-index: 0;
    top: 74px;
    left: -22px;
    width: 674px;
    height: 371px;
    background-color: none;
    border: 0.781236px solid #dd9b5c;
}

.column {
    position: relative;
    height: 399px;
}

.aboutImage {
    position: relative;
    z-index: 1;
    width: 738px;
    height: 399px;
}

.aboutTeam__title {
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    color: #0d1b44;
}