.layout {
    margin: 100px auto;
    width: var(--container);
}

.container {
    display: flex;
    width: 100%;
    min-height: 678px;
    justify-content: space-between;
}

.image_and_block {
    position: relative;
}

.block {
    position: absolute;
    z-index: 0;
    right: -40px;
    bottom: -40px;
    width: 566px;
    height: 371px;
    border: 2px solid var(--border-color);
}

.image {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    width: 630px;
    height: 632px;
}

.form {
    margin-left: 128px;
    width: 100%;
}
