.wrapper {
    max-width: 305px;
}

.wrapper:hover .image {
    opacity: 0.8;
}

.image {
    width: 305px;
    height: 261px;
    transition: opacity 0.3s ease;
    object-fit: cover;
    cursor: pointer;
}

.price {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    font-style: normal;
    color: #0d1b44;
}

.description_top {
    display: flex;
    width: 280px;
    align-items: center;
}

.description_bottom {
    min-height: 50px;
    max-height: 50px;
}

.text {
    max-width: 305px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
}

.dot {
    margin: 0 4px;
    width: 4px;
    height: 4px;
    background-color: #a7b7bc;
    border-radius: 50%;
}

.hr {
    margin: 8px 0;
    width: 276px;
    height: 1px;
    background-color: #a7b7bc;
}

.button {
    position: relative;
    margin-top: 40px;
    margin-bottom: 32px;
}

.notice {
    position: absolute;
    z-index: 2;
    bottom: 70px;
    padding: 26px 21px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid var(--text-color);
}

.notice > p {
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--text-color);
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 328px;
    }

    .slider {
        width: 328px;
        height: 261px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 288px;
    }

    .slider {
        width: 288px;
        height: 180px;
    }
}