.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    background: #ffffff;
    border: 2px solid #0d1b44;
    transform: translate(-50%, -50%);
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modalPolicy {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
<<<<<<< HEAD
    padding: 110px 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1000px;
    height: 620px;
=======
    overflow-y: scroll;
    height: 100%;
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
    background: #ffffff;
    border: 2px solid #0d1b44;
    transform: translate(-50%, -50%);
}

.modalPolicyTablet {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    padding: 30px 90px;
    overflow-y: scroll;
<<<<<<< HEAD
    width: var(--container);
=======
    width: 900px;
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
    height: 600px;
    background: #ffffff;
    border: 2px solid #0d1b44;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .modalPolicy {
        padding: 36px 28px;
<<<<<<< HEAD
        width: var(--container);
=======
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
    }
}

.cross {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    cursor: pointer;
}

.cross::before {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 28px;
    content: "";
    background-color: #0d1b44;
    border: 2px solid #0d1b44;
    border-radius: 2px;
    transform: rotate(45deg);
}

.cross::after {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 28px;
    content: "";
    background-color: #0d1b44;
    border: 2px solid #0d1b44;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.modalPolicy::-webkit-scrollbar {
<<<<<<< HEAD
    width: 8px; /* ширина scrollbar */
=======
    padding-right: 15px;

    width: 8px; /* ширина scrollbar */
    height: 135px;
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
}

.modalPolicy::-webkit-scrollbar-track {
    background: inherit; /* цвет дорожки */
}

.modalPolicy::-webkit-scrollbar-thumb {
    background-color: #dd9b5c; /* цвет плашки */
}

.modalPolicyTablet::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
<<<<<<< HEAD
=======
    height: 135px;
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
}

.modalPolicyTablet::-webkit-scrollbar-track {
    background: inherit; /* цвет дорожки */
}

.modalPolicyTablet::-webkit-scrollbar-thumb {
<<<<<<< HEAD
=======
    padding-right: 20px;
>>>>>>> 83547a92596ee00d85c4680064bbf2bcba6653b5
    background-color: #dd9b5c; /* цвет плашки */
}