.wrapper {
    max-width: 305px;
}

.wrapper:hover .slider {
    opacity: 0.8;
}

.slider {
    position: relative;
    width: 305px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.arrow_left {
    position: absolute;
    top: 45%;
    left: 4%;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow_right {
    right: 4%;
    left: initial;
    transform: scaleX(-1);
    composes: arrow_left;
}

.arrow_img {
    width: 14px;
    height: 27px;
}

.pagination {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4px;
}

.pagination_item {
    width: 7px;
    height: 7px;
    background-color: #e9e9e9;
    border-radius: 50%;
}

.pagination_active {
    background-color: #db812a;
}

.price {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    font-style: normal;
    color: #0d1b44;
}

.description {
    display: flex;
    width: 280px;
    align-items: center;

}

.text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
}

.dot {
    margin: 0 4px;
    width: 4px;
    height: 4px;
    background-color: #a7b7bc;
    border-radius: 50%;
}

.hr {
    margin: 8px 0;
    width: 276px;
    height: 1px;
    background-color: #a7b7bc;
}

.button {
    margin-top: 40px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 328px;
    }

    .slider {
        width: 328px;
        height: 261px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 288px;
    }

    .slider {
        width: 288px;
        height: 180px;
    }
}