
.hotAdvertisement {
    padding: 80px;
}

.hotAdvertisement__title {
    font-family: "Montserrat";
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: left;
    color: #0d1b44;
}

.hotAdvertisement__container {
    margin: 0 auto;
    width: 1280px;
}

.hotAdvertisement__list {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

.hotAdvertisement__testCard {
    width: 305px;
    height: 478px;
    background-color: #dfbda2;
}

.hotAdvertisement__moreButton {
    margin: 62px auto 0;
    width: 247px;
    height: 49px;
    color: #ffffff;
    background-color: #dfbda2;
    border: none;
}