:root {
    --screen-width: 1280px;
    --header-height: 60px;
    --text-size: 18px;
    --animation-time: 0.3s;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
    display: flex;
    min-width: var(--screen-width);
    max-width: var(--screen-width);
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--text-color);
}

.active {
    font-size: var(--text-size);
    text-decoration: underline;
    color: var(--text-color);
}

.link:hover {
    text-decoration: underline;
}

.logo {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: var(--text-color);
}

.nav {
    position: absolute;
    display: flex;
    min-width: var(--screen-width);
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    gap: 44px;
}

.item {
    line-height: 25px;
}

.button {
    z-index: 1;
    padding: 12px 60px;
    width: 166px;
    height: 49px;
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-size);
    line-height: 25px;
    font-weight: 700;
    color: #dd9b5c;
    background-color: transparent;
    border: 1px solid #dd9b5c;
    transition: background-color var(--animation-time) ease, color var(--animation-time) ease;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background-color: #dd9b5c;
}

.button:active {
    color: #ffffff;
    background-color: #be6d20;
}