.form {
    border: 2px solid var(--text-color);
}

.sign_in {
    margin-top: 156px;
}

.container {
    margin: 40px;
}

.title {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    color: var(--text-color);
}

.list {
    list-style: none;
}

.item {
    position: relative;
}

.itemTitle {
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--text-color);
}