:root {
    --button-color-default: #dd9b5c;
    --button-color-hover: #db812a;
    --button-color-active: #be6d20;
    --button-color-inactive: #e9e9e9;
}

.block {
    position: relative;
    border: none;
    outline: none;
}

.like {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 52px;
    max-height: 53px;
    background-color: #ffffff;
    border: 2px solid var(--button-color-default);
    transition: border-color 0.3s ease;
}

.block:hover .like {
    border-color: var(--button-color-hover);
}

.block:active .like {
    border-color: var(--button-color-active);
}

.block[data-disabled="true"] .like {
    border-color: var(--button-color-inactive);
}