.container {
    margin: 120px 0 40px 0;
}

.aboutUs__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUs__column {
    position: relative;
    color: var(--text-color);
}

.aboutUs__column_bottom {
    margin-top: 38px;
    margin-right: 33px;
}

.aboutUs__columns:last-child {
    margin-top: 110px;
}

.aboutUs__title {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
}

.aboutUs__paragraph {
    margin-bottom: 36px;
    width: 489px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.aboutUs__paragraph span {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}

.aboutUs__button {
    width: 290px;
}

.aboutUs__image {
    position: relative;
    z-index: 1;
}

.aboutUs__border {
    position: absolute;
    top: 98px;
    left: -43px;
    width: 565px;
    height: 333px;
    border: 2px solid var(--border-color);
}

.aboutUs__border_bottom {
    position: absolute;
    top: -30px;
    left: 142px;
    width: 516px;
    height: 341px;
}

.link {
    text-decoration: none;
}