.login {
    margin-top: 156px;
    width: 100%;
    border: 2px solid var(--text-color);
}

.container {
    padding: 40px;
    width: 100%;
}

.title {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    color: var(--text-color);
}

.list {
    list-style: none;
}

.link {
    font-size: 14px;
    text-decoration: none;
    color: var(--border-color);
    transition: color 0.3s, text-shadow 0.3s;
}

.linkForgotten {
    font-size: 16px;
    text-decoration: none;
    color: var(--border-color);
    transition: color 0.3s, text-shadow 0.3s;
}

.linkForgotten:hover {
    text-shadow: 0.1px 0 var(--link-color-hover), -0.1px 0 var(--link-color-hover);
    color: var(--link-color-hover);
    transition: color 0.3s, text-shadow 0.3s;
}

.link:hover {
    text-shadow: 0.1px 0 var(--link-color-hover), -0.1px 0 var(--link-color-hover);
    color: var(--link-color-hover);
    transition: color 0.3s, text-shadow 0.3s;
}

.text {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--text-color);
}

@media screen and (max-width: 1280px) {
    .login {
        margin-top: 90px;
        display: flex;
        width: var(--container);
        justify-content: center;
        border: none;
    }

    .container {
        margin: 0;
        width: calc(var(--container) / 2);
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
        width: var(--container);
    }
}
