.cookiePopup {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    padding: 44px;
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: var(--container);
    background-color: #ffffff;
    border: 2px solid #0d1b44;
}

.cookiePopup__text {
    font-size: 18px;
    line-height: calc(27 / 18);
    color: var(--text-color);
}

.cookie__closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background: url("../../images/close-icon.svg");
    border: none;
    transition: opacity var(--animation-time) ease-in-out;
    cursor: pointer;
}

.cookie__closeBtn:hover {
    opacity: 0.5;
}
