.slider {
    position: relative;
}

/* .sliderModal {
    position: absolute;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
} */

.activeImage {
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.fadeImage {
    display: none;
}

.arrow_img {
    width: 14px;
    height: 27px;
}

.arrow_left {
    position: absolute;
    top: 45%;
    left: 4%;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrow_right {
    right: 4%;
    left: initial;
    transform: scaleX(-1);
    composes: arrow_left;
}

.pagination {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4px;
}

.pagination_item {
    width: 7px;
    height: 7px;
    background-color: #e9e9e9;
    border-radius: 50%;
}

.pagination_item_active {
    background-color: #db812a;
}

.pagination_item:hover {
    cursor: pointer;
}