.form {
    border: 2px solid var(--text-color);
}

.sign_in {
    margin-top: 156px;
}

.sign_up {
    margin-top: 0;
}

.container {
    margin: 40px;
}

.title {
    margin-bottom: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    color: var(--text-color);
}

.itemTitle {
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: var(--text-color);
}

.list {
    list-style: none;
}

.input {
    margin-bottom: 20px;
    width: 360px;
    height: 40px;
    border: 2px solid var(--text-color);
}

.input:focus {
    outline: none;
}

.link {
    text-decoration: none;
    color: var(--border-color);
}

.buttons {
    margin-bottom: 20px;
    width: 166px;
}

.text {
    margin-top: 20px;
    font-family: "Inter";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--text-color);
}

.accept {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}