.mainForm {
    position: relative;
    margin: 120px auto 0;
    width: 846px;
}

.border {
    position: absolute;
    top: -41px;
    left: -57px;
    width: 667px;
    height: 1118px;
    border: 1px solid var(--border-color);
}

.mainForm__container {
    position: relative;
    z-index: 1;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid var(--text-color);
}

.mainForm__title {
    margin: 40px auto 36px;
    width: 462px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.mainForm__subtitle {
    width: 634px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.mainForm__form {
    margin: 0 auto 0;
    width: 470px;
    list-style-type: none;
}

.mainForm__list {
    list-style-type: none;
}

.mainForm__item {
    margin-top: 36px;
}

.mainForm__itemTitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: left;
    color: var(--text-color);
}

.mainForm__input {
    margin: 8px 0 0;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.mainForm__input_comment {
    margin: 8px 0 0;
    padding: 19px 10px;
    width: 100%;
    min-height: 115px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.mainForm__checkbox {
    margin: 31px auto 34px;
    display: flex;
}

.mainForm__accept {
    margin-left: 20px;
    padding: 0;
    width: 415px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: left;
    color: var(--text-color);
}

.mainForm__accept_color {
    text-decoration: none;
    color: var(--border-color);
}

.mainForm__button {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}